<div>
  <h2>Chatting with:</h2>
  <% current_user.active_chat_users.each do |user| %>
    <h3><%= user.name %></h3>
    <div class="chat-box" id="chat-user-<%= user.id %>">
      <% user.messages_with(current_user).each do |message| %>
        <p><%= message.sender.email %> says:</p>
        <p><%= message.content %></p>
      <% end %>
    </div>
  <% end %>
</div>
