<div class="columns">

  <div class="column is-7">
    <div class="title is-3">Your Conversations</div>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <% unless current_user.id == recipient %>
        <div class="notification">
         <img src=" <%= recipient.picture %> " class="avatar-large" />
          <div class="notification-content">
            <h4 id="avatar-name"><%= link_to recipient.name, conversation_messages_path(conversation) %></h4>
            <h4 id="avatar-text">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</h4>
          </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


