<div class= "map_search">
  <%= render "components/language_search" %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="cards">
        <% @tutor_profiles.each do |profile| %>
          <%= render "tutor_profiles/card", profile: profile %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div  id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
