<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['pk.eyJ1IjoiYnJhbmRvamQ5MyIsImEiOiJjazZsMnZjdnQwOG05M2xxcHp5YWR1ODU4In0.AvX_OGNMEmnCAqcJ5h8LWA'] %>"
></div>
