<div class="main">
  <img id="bg" src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80">
  <div class="container">
    <h1><strong>Nomadic Coder</strong></h1>
    <p>Do something great from anywhere in the world.</p>

     <%= form_tag map_path, method: :get do %>
      <%= text_field_tag :location, # field name (params key)
        params[:location], # value
          class: "form-control",
          placeholder: "Location"
      %>
      <%= select_tag :languages, options_for_select(%w[Java Python Swift]), multiple: true %>
      <%= submit_tag "Find a Tutor!", class: "btn btn-success" %>

    <% end %>
 </div>
</div>


