<div class="banner">
  <div class="banner-content text-center">
    <h1>Nomadic Coder</h1>
    <h2>Connecting Coders with Tutors</h2>
    <a class="btn btn-flat" href="/palaces">Find a Tutor</a>
   </div>
</div>






